body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  margin-top: 25%;
  font-size: 70pt;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#container {
  overflow: hidden;
}
#errorc_h1 {
  display: none;
}
#kitten_img {
  margin-top: 25%;
  width: 250px;
  height: 200px;
  display: none;
}
