body {
  font-family: 'Roboto', sans-serif;
  /* Margin bottom by footer height */
  margin-bottom: 65px;
  background: #333333;
}
.container-gradient {
  height: 3px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4a148c+0,f50057+100 */
  background: #4a148c;
  /* Old browsers */
  background: -moz-linear-gradient(left, #4a148c 0%, #f50057 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #4a148c 0%, #f50057 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #4a148c 0%, #f50057 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4a148c', endColorstr='#f50057', GradientType=1);
  /* IE6-9 */
}
.navbar {
  margin-bottom: 1%;
}
.navbar-brand-pixmate {
  font-size: 24pt;
  color: #fff;
}
.upload {
  margin-top: 2%;
}
.upload h1 {
  color: #fff;
  text-align: center;
}
.upload-form {
  color: #fff;
}
.upload-form form {
  margin-top: 40px;
}
.upload-form .file-select {
  background: #616161;
  border-radius: 5px;
  border-style: dashed;
  border-color: #fff;
  min-height: 50px;
  height: 150px;
}
.upload .submit-button {
  width: 100px;
  height: 35px;
  margin-top: 2%;
}
.upload .upload-file {
  width: 200px;
  margin-right: 0px;
  margin-top: 35px;
}
.upload .upload-ttl {
  border-radius: 2px;
  border-style: none;
  color: #000;
  width: 50px;
}
.upload .radio {
  margin-left: 15px;
}
.upload .dl-header {
  margin-top: 10%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 65px;
  background: #333333;
}
.footer p {
  color: #fff;
  padding-top: 30px;
}
.footer-limiter {
  height: 5px;
  background: #404040;
}
.footer-container {
  overflow: hidden;
}
