<!DOCTYPE html>
<html lang="en-US" ng-app="imgturtleWeb">

<head>
  <title>
    Sign up
  </title>
  <link rel="stylesheet" type="text/css" href="./css/signup.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,900' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="./comp/angular/angular.js"></script>
  <script type="text/javascript" src="./js/signup.js"></script>
</head>

<body>
  <div id="container">
    <center style="margin-top: 20%">
      <form action="/signup" method="POST" ng-controller="SignUpCtrl">
        Username:
        <br>
        <input id="inp_uname" type="text" ng-model="uname" ng-maxlength="40" required>
        <br>Password:
        <br>
        <input id="inp_pwd" type="password" ng-model="pwd" ng-change="checkPasswordMatch();" ng-maxlength="120" required>
        <br>Repeat password:
        <br>
        <input id="inp_rpwd" type="password" ng-model="rpwd" ng-change="checkPasswordMatch();" ng-maxlength="120" required>
        <br>E-Mail:
        <br>
        <input id="inp_email" type="text" ng-model="email" ng-maxlength="100" required>
        <br>
        <span id="errortext"></span>
        <br>
        <br>
        <input id="btn_submit" type="button" value="Submit" ng-click="submit();">
      </form>
    </center>
  </div>
</body>

</html>
