<!DOCTYPE html>
<html lang="en-US" ng-app="imgturtleWeb">

<head>
  <title>
    Sign in
  </title>
  <link rel="stylesheet" type="text/css" href="./css/signin.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,900' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="./comp/angular/angular.js"></script>
  <script type="text/javascript" src="./js/signin.js"></script>
</head>

<body>
  <center style="margin-top: 25%;">
    <div id="signin_form">
      <form action="/signin" method="POST" ng-controller="SignInCtrl">
        Username or e-mail:
        <br>
        <input id="inp_ue" type="text" ng-change="checkInput();" ng-model="ue" ng-maxlength="40" required>
        <br>Password:
        <br>
        <input id="inp_pwd" type="password" ng-change="checkInput();" ng-model="pwd" ng-maxlength="120" required>
        <br>
        <span id="errortext"></span>
        <br>
        <br>
        <input id="btn_submit" type="button" value="Submit" ng-click="submit();">
      </form>
      <a href="/signup">
          Don't have an account yet? Click here!
        </a>
    </div>
  </center>
</body>

</html>
